// Colors
$cBlue: #001F48;
$cLightBlue: #33AEF2;

$cBlueHover: #020e1f;
$cBlueOpacity: #001f4846;
$cBlueDark: #000A31;
$cBlueFaded: #405776;
$cBody: white;
$cBlueLinks: #33AEF2;
$cShadow: #004f6187;
$cGreen: #8ec340;


$cOrange: #FFE920;
$cOrangeHover: #c4b100;
$cBorderGray: #A5A5A5;
$cBgGray: #ebebeb;

$fPlainText: "Roboto_Light",
sans-serif;

$fRegular: "Roboto_Light",
sans-serif;
$fBlack: "Roboto",
sans-serif;

$fHeaderRegular: "Candara_Regular",
sans-serif;
$fHeader: "Candara_Bold",
sans-serif;

// FontWight
$fw400: 400;
$fw700: 700;
$fw900: 900;

// Font color
$cTextBlack: black;
$cTextBlackMain: #353535;
$cTextBlackSecondary: #616161;

$cRed: #b90000;
$cRedHover: #b50000;

$mainTransition: all 0.3s ease-in-out;

$focusVisibleOutline: 3px solid #E58100;

$clipPathArrow: polygon(70% 0, 20% 50%, 70% 100%, 50% 100%, 0% 50%, 50% 0);