@import "./variables";
@import "./mixin";

@mixin aboutH2Title {
    @include headerText40;
    color: white;
    font-family: $fHeaderRegular;
    text-transform: uppercase;
    line-height: 120%;
    font-weight: 100;
    margin-bottom: 75px;

    @media screen and (max-width: 1400px) {
        margin-bottom: 60px;
    }

    @media screen and (max-width: 1280px) {
        font-size: 34px;
        margin-bottom: 55px;
    }

    @media screen and (max-width: 1100px) {
        font-size: 32px;
        margin-bottom: 45px;
    }

    @media screen and (max-width: 992px) {
        font-size: 30px;
        margin-bottom: 35px;
    }

    @media screen and (max-width: 768px) {
        margin-bottom: 30px;
    }

    @media screen and (max-width: 576px) {
        font-size: 28px;
    }

    @media screen and (max-width: 450px) {
        font-size: 26px;
    }
}

body {
    background-color: $cBlue;
}

main {

    // Intro
    .aboutIntro {
        width: 100vw;
        position: relative;
        z-index: 1;
        background-color: rgba($color: $cBlue, $alpha: 0.75);
        background-blend-mode: multiply;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom center;
        height: fit-content;
        min-height: fit-content;

        @media screen and (max-width: 576px) {
            background-color: rgba($color: $cBlue, $alpha: 0.8);
        }

        .aboutIntro_info {
            width: 100%;
            padding-top: 210px;
            padding-bottom: 130px;
            position: relative;

            @media screen and (max-width: 1600px) {
                padding-top: 180px;
                padding-bottom: 110px;
            }

            @media screen and (max-width: 1400px) {
                padding-top: 140px;
                padding-bottom: 90px;
            }

            @media screen and (max-width: 1280px) {
                padding-top: 120px;
                padding-bottom: 60px;
            }

            @media screen and (max-width: 1200px) {
                padding-top: 100px;
                padding-bottom: 50px;
            }

            @media screen and (max-width: 992px) {
                padding-top: 80px;
                padding-bottom: 80px;
            }

            @media screen and (max-width: 768px) {
                padding-bottom: 60px;
            }

            @media screen and (max-width: 576px) {
                padding-left: 20px;
                padding-right: 20px;
            }

            @media screen and (max-width: 500px) {
                padding-left: 10px;
                padding-right: 10px;
            }

            @media screen and (max-width: 450px) {
                padding-left: 0px;
                padding-right: 0px;
                padding-top: 60px;
                padding-bottom: 50px;
            }

            @media screen and (max-width: 450px) {
                padding-top: 50px;
            }

            .aboutIntro_info_block {
                @include mainContainer;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                row-gap: 85px;

                @media screen and (max-width: 1600px) {
                    row-gap: 60px;
                }

                @media screen and (max-width: 1400px) {
                    padding-left: 70px;
                    row-gap: 40px;
                }

                @media screen and (max-width: 1280px) {
                    row-gap: 20px;
                }

                @media screen and (max-width: 900px) {
                    padding-left: 35px;
                }

                @media screen and (max-width: 768px) {
                    padding-left: 0px;
                    row-gap: 25px;
                }

                .aboutIntro_info_block_item {
                    width: 70%;
                    display: flex;
                    flex-direction: column;

                    @media screen and (max-width: 1400px) {
                        width: 65%;
                    }

                    @media screen and (max-width: 1280px) {
                        width: 70%;
                    }

                    @media screen and (max-width: 1100px) {
                        width: 75%;
                    }

                    @media screen and (max-width: 992px) {
                        width: 85%;
                    }

                    @media screen and (max-width: 800px) {
                        width: 90%;
                    }

                    @media screen and (max-width: 768px) {
                        width: 100%;
                    }

                    // Main title
                    h1 {
                        @include headerText40;
                        color: white;
                        font-weight: 100;
                        margin-bottom: 20px;
                        text-transform: uppercase;
                        line-height: 130%;

                        @media screen and (max-width: 1200px) {
                            margin-bottom: 15px;
                        }

                        @media screen and (max-width: 1100px) {
                            font-size: 32px;
                        }

                        @media screen and (max-width: 768px) {
                            font-size: 36px;
                            margin-bottom: 25px;
                        }

                        @media screen and (max-width: 576px) {
                            font-size: 32px;
                            line-height: 120%;
                        }

                        @media screen and (max-width: 400px) {
                            margin-bottom: 15px;
                        }

                        @media screen and (max-width: 400px) {
                            font-size: 30px;
                        }

                        @media screen and (max-width: 375px) {
                            font-size: 28px;
                        }
                    }

                    // Intro secondary title
                    .aboutIntro_info_block_item_title {
                        @include boldText20;
                        font-family: $fHeader;
                        color: white;
                        padding-bottom: 20px;
                        text-transform: uppercase;

                        @media screen and (max-width: 1400px) {
                            padding-bottom: 10px;
                        }

                    }

                    // Intro text
                    .aboutIntro_info_block_item_text {
                        @include plainText20;
                        color: $cOrange;
                        line-height: 32px;
                        padding-left: 60px;
                        padding-right: 140px;
                        position: relative;

                        &::after {
                            width: 45px;
                            height: 45px;
                            mask-size: contain;
                            mask-repeat: no-repeat;
                            mask-position: center;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: row;
                            transition: all 0.3s ease-in-out;
                            content: '';
                            position: absolute;
                            top: 8px;
                            left: 0px;
                            mask-image: url(../icon/quote_round_icon.svg);
                            background-color: $cOrange;
                        }

                        @media screen and (max-width: 1450px) {
                            font-size: 20px;
                            padding-right: 50px;
                            line-height: 30px;
                        }

                        @media screen and (max-width: 1280px) {
                            font-size: 18px;
                            padding-right: 0px;
                            line-height: 28px;
                        }

                        @media screen and (max-width: 1100px) {
                            font-size: 16px;
                            line-height: 24px;
                        }

                        @media screen and (max-width: 800px) {
                            padding-right: 80px;
                        }

                        @media screen and (max-width: 768px) {
                            font-size: 18px;
                            padding-left: 60px;
                            padding-right: 40px;

                            &::before {
                                width: 35px;
                                height: 35px;
                            }
                        }

                        @media screen and (max-width: 650px) {
                            padding-right: 0px;
                        }

                        @media screen and (max-width: 576px) {
                            padding-right: 0;
                            font-weight: bold;
                        }

                        @media screen and (max-width: 450px) {
                            padding-left: 60px;

                            &::before {
                                width: 30px;
                                height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }

    // Tabs buttons
    .about_tabs {
        position: relative;
        z-index: 2;

        &::before {
            background: $cBlueDark;
            height: 71px;
            width: 70vw;
            clip-path: polygon(0 0, 100% 0, 96% 100%, 0% 100%);
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: -1;
        }

        @media screen and (max-width: 1600px) {
            &::before {
                width: 75vw;
                height: 65px;
            }
        }

        @media screen and (max-width: 1280px) {
            &::before {
                width: 80vw;
                height: 60px;
            }
        }

        @media screen and (max-width: 1100px) {
            &::before {
                height: 55px;
            }
        }

        @media screen and (max-width: 992px) {
            &::before {
                width: 85vw;
            }
        }

        @media screen and (max-width: 820px) {
            &::before {
                width: 90vw;
            }
        }

        @media screen and (max-width: 768px) {
            &::before {
                width: 82vw;
                clip-path: polygon(0 0, 100% 0, 94% 100%, 0% 100%);
            }
        }

        @media screen and (max-width: 650px) {
            &::before {
                width: 88vw;
            }
        }

        @media screen and (max-width: 576px) {

            &::before {
                width: 90vw;
                left: 5vw;
                clip-path: polygon(0 0, 100% 0%, 96% 100%, 4% 100%);
            }
        }

        @media screen and (max-width: 450px) {
            &::before {
                width: 95vw;
                height: 50px;
                left: 2.5vw;
            }
        }

        @media screen and (max-width: 350px) {
            &::before {
                width: 100vw;
                left: 0;
                clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
            }
        }


        .about_tabs_links {
            @include mainContainer;
            display: flex;
            align-items: center;
            flex-direction: row;
            height: 71px;
            column-gap: 4.2vw;

            @media screen and (max-width: 1600px) {
                height: 65px;
                column-gap: 5vw;
            }

            @media screen and (max-width: 1280px) {
                height: 60px;
                column-gap: 6vw;
                padding-left: 4vw;
            }

            @media screen and (max-width: 1100px) {
                height: 55px;
            }

            @media screen and (max-width: 860px) {
                column-gap: 4vw;
            }

            @media screen and (max-width: 768px) {
                column-gap: 8vw;
            }

            @media screen and (max-width: 576px) {
                margin: 0 auto;
                padding-left: 0px;
                width: 90vw;
                justify-content: center;
            }

            @media screen and (max-width: 450px) {
                column-gap: 7vw;
                height: 50px;
            }

            @media screen and (max-width: 400px) {
                column-gap: 6vw;
            }

            button {
                @include boldText26;
                color: white;
                height: inherit;
                border-bottom: 5px solid transparent;
                transition: all 0.3s ease-in-out;
                user-select: none;
                font-weight: 100;
                white-space: nowrap;

                &:hover {
                    color: $cOrange;
                    border-bottom: 5px solid $cOrange;
                }

                @media screen and (max-width: 1600px) {
                    font-size: 24px;
                }

                @media screen and (max-width: 1280px) {
                    font-size: 22px;
                }

                @media screen and (max-width: 1100px) {
                    font-size: 19px;
                }

                @media screen and (max-width: 992px) {
                    font-size: 18px;
                    font-weight: 400;

                    &:hover {
                        color: white;
                        border-bottom: 5px solid transparent;
                    }

                    &:focus {
                        color: $cOrange;
                        border-bottom: 5px solid white;
                    }
                }

                @media screen and (max-width: 768px) {
                    font-size: 22px;
                }

                @media screen and (max-width: 668px) {
                    font-size: 20px;
                }

                @media screen and (max-width: 500px) {
                    font-size: 18px;
                }

                @media screen and (max-width: 400px) {
                    font-size: 16px;
                    font-weight: bold;
                    padding-top: 2px;
                }

                .about_tabs_links_desktop {
                    display: inline-block;

                    @media screen and (max-width: 768px) {
                        display: none;
                    }
                }

                .about_tabs_links_mobile {
                    display: none;

                    @media screen and (max-width: 768px) {
                        display: inline-block;
                    }
                }
            }

            .about_tabs_links_active {
                border-bottom: 5px solid white;
                pointer-events: none;
                color: $cOrange;
                -webkit-text-stroke: 1px $cOrange;
            }
        }
    }

    // Tab wrapper
    .aboutUs_wrapper {
        display: none;
        margin-top: -71px;
        padding-top: 138px;

        @media screen and (max-width: 1600px) {
            margin-top: -66px;
            padding-top: 128px;
        }

        @media screen and (max-width: 1400px) {
            padding-top: 120px;
        }

        @media screen and (max-width: 1280px) {
            margin-top: -61px;
            padding-top: 110px;
        }

        @media screen and (max-width: 1100px) {
            margin-top: -56px;
            padding-top: 100px;
        }

        @media screen and (max-width: 576px) {
            padding-top: 90px;
        }
    }

    // About company
    #about_company_wrapper {
        padding-bottom: 110px;

        @media screen and (max-width: 992px) {
            padding-bottom: 90px;
        }

        @media screen and (max-width: 576px) {
            padding-bottom: 120px;
        }

        @media screen and (max-width: 450px) {
            // padding-bottom: 10px;
        }

        .about_company {
            @include mainContainer;

            @media screen and (max-width: 576px) {
                margin: 0px 25px;
            }

            //  Title
            .about_company_title {
                @include aboutH2Title;
                padding-right: 10vw;

                @media screen and (max-width: 1280px) {
                    padding-right: 5vw;
                }

                @media screen and (max-width: 768px) {
                    padding-right: 0;
                }
            }

            //   Content
            .about_company_block {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                column-gap: 30px;

                @media screen and (max-width: 768px) {
                    flex-direction: column-reverse;
                    justify-content: flex-start;
                }

                // Images
                .about_company_block_images {
                    width: 28.7%;

                    @media screen and (max-width: 1400px) {
                        width: 32.7%;
                    }

                    @media screen and (max-width: 768px) {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-direction: row;
                        column-gap: 20px;
                    }

                    @media screen and (max-width: 576px) {
                        column-gap: 16px;
                    }

                    .about_company_block_images_item {
                        width: 100%;
                        height: fit-content;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: row;
                        border-radius: 13px;
                        overflow: hidden;
                        filter: drop-shadow(4px 4px 7px rgba(0, 0, 0, 0.25));
                        margin-bottom: 17px;

                        @media screen and (max-width: 1200px) {
                            margin-bottom: 25px;
                        }

                        @media screen and (max-width: 992px) {
                            margin-bottom: 17px;
                        }

                        @media screen and (max-width: 576px) {
                            margin-bottom: 0;
                        }

                        img {
                            object-fit: contain;
                            width: 100%;
                            height: 100%;
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                }

                // Text
                .about_company_block_text {
                    width: 70%;

                    @media screen and (max-width: 1400px) {
                        width: 63%;
                    }

                    @media screen and (max-width: 768px) {
                        width: 100%;
                    }

                    .about_company_block_text_item {
                        padding-bottom: 33px;

                        @media screen and (max-width: 1400px) {
                            padding-bottom: 20px;
                        }

                        @media screen and (max-width: 992px) {
                            padding-bottom: 15px;
                        }

                        h2 {
                            @include headerText40;
                            color: white;
                            font-family: $fHeaderRegular;
                            line-height: 130%;
                            font-weight: 100;
                            padding-bottom: 32px;
                            padding-right: 6vw;

                            @media screen and (max-width: 1600px) {
                                line-height: 120%;
                                padding-right: 6vw;
                            }

                            @media screen and (max-width: 1280px) {
                                padding-right: 0;
                                padding-bottom: 25px;
                                font-size: 34px;
                            }

                            @media screen and (max-width: 1100px) {
                                font-size: 32px;
                            }

                            @media screen and (max-width: 992px) {
                                font-size: 30px;
                                padding-bottom: 20px;
                            }

                            @media screen and (max-width: 768px) {
                                padding-bottom: 10px;
                            }

                            @media screen and (max-width: 576px) {
                                font-size: 28px;
                            }
                        }

                        p {
                            @include plainText20;
                            color: white;
                            padding-right: 6vw;
                            line-height: 150%;
                            padding-bottom: 36px;

                            @media screen and (max-width: 1400px) {
                                font-size: 20px;
                            }

                            @media screen and (max-width: 1280px) {
                                padding-bottom: 20px;
                            }

                            @media screen and (max-width: 1100px) {
                                font-size: 19px;
                                padding-right: 3vw;
                            }

                            @media screen and (max-width: 992px) {
                                font-size: 17px;
                                padding-bottom: 15px;
                            }

                            @media screen and (max-width: 768px) {
                                font-size: 19px;
                            }

                            @media screen and (max-width: 576px) {
                                font-size: 18px;
                                padding-right: 0;
                                padding-bottom: 20px;
                            }
                        }
                    }
                }
            }

            .about_company_bottom_img {
                width: 100%;
                height: fit-content;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                border-radius: 13px;
                overflow: hidden;
                filter: drop-shadow(4px 4px 7px rgba(0, 0, 0, 0.25));
                margin-top: 20px;

                @media screen and (max-width: 1200px) {
                    margin-top: 12px;
                }

                @media screen and (max-width: 992px) {
                    margin-top: 17px;
                }

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
    }

    @mixin imageWrapper {
        margin: 0 auto;
        max-width: 1760px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        row-gap: 24px;


        @media screen and (max-width: 1800px) {
            margin: 0px 50px;
        }

        @media screen and (max-width: 1280px) {
            column-gap: 15px;
        }

        @media screen and (max-width: 1170px) {
            margin: 0px 30px;
        }

        @media screen and (max-width: 992px) {
            flex-wrap: wrap;
        }

        @media screen and (max-width: 576px) {
            margin: 0px 16px;
            row-gap: 16px;
        }

    }

    // Manufacture
    #manufacture_wrapper {
        margin-bottom: -100px;

        @media screen and (max-width: 992px) {
            margin-bottom: -120px;
        }

        @media screen and (max-width: 920px) {
            margin-bottom: -140px;
        }

        .manufacture {
            .manufacture_title {
                @include mainContainer;

                h2 {
                    @include aboutH2Title;
                    padding-right: 40%;

                    @media screen and (max-width: 992px) {
                        padding-right: 35%;
                    }

                    @media screen and (max-width: 768px) {
                        padding-right: 10%;
                    }

                    @media screen and (max-width: 576px) {
                        padding-right: 5%;
                    }

                    @media screen and (max-width: 450px) {
                        padding-right: 0;
                    }
                }
            }

            .manufacture_images {
                @include imageWrapper;
                column-gap: 16px;
                padding-bottom: 100px;

                @media screen and (max-width: 1400px) {
                    padding-bottom: 90px;
                }

                @media screen and (max-width: 1280px) {
                    padding-bottom: 80px;
                }

                @media screen and (max-width: 1100px) {
                    padding-bottom: 70px;
                }

                @media screen and (max-width: 768px) {
                    padding-bottom: 60px;
                }

                @media screen and (max-width: 576px) {
                    padding-bottom: 50px;
                }

                @media screen and (max-width: 450px) {
                    padding-bottom: 40px;
                }

                .manufacture_images_item {
                    width: 25%;
                    filter: drop-shadow(4px 4px 7px rgba(0, 0, 0, 0.25));
                    overflow: hidden;
                    border-radius: 13px;
                    height: 520px;

                    @media screen and (max-width: 1600px) {
                        height: 490px;
                    }

                    @media screen and (max-width: 1500px) {
                        height: 460px;
                    }

                    @media screen and (max-width: 1400px) {
                        height: 410px;
                    }

                    @media screen and (max-width: 1300px) {
                        height: 360px;
                    }

                    @media screen and (max-width: 1200px) {
                        height: 320px;
                    }

                    @media screen and (max-width: 1100px) {
                        height: 280px;
                    }

                    @media screen and (max-width: 992px) {
                        width: 48.5%;
                        height: auto;
                    }

                    @media screen and (max-width: 576px) {
                        width: 48%
                    }

                    @media screen and (max-width: 450px) {
                        width: 47.5%
                    }


                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }

            .manufacture_text {
                width: 100vw;
                position: relative;
                z-index: 1;
                background-color: rgba($color: $cBlue, $alpha: 0.7);
                background-blend-mode: multiply;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                height: fit-content;
                min-height: fit-content;

                @media screen and (max-width: 992px) {
                    background-position: left center;
                }

                @media screen and (max-width: 850px) {
                    background-position: left 17% center;
                }

                @media screen and (max-width: 768px) {
                    background-color: rgba($color: $cBlue, $alpha: 0.75);
                }

                // Blur layout
                &::before {
                    content: '';
                    backdrop-filter: blur(6px);
                    background-color: rgba(0, 0, 0, 0.15);
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    bottom: 0px;
                    right: 0px;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                }

                .manufacture_text_block {
                    @include mainContainer;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-top: 65px;
                    padding-bottom: 230px;

                    @media screen and (max-width: 1600px) {
                        padding-bottom: 200px;
                    }

                    @media screen and (max-width: 1400px) {
                        padding-bottom: 180px;
                    }

                    @media screen and (max-width: 992px) {
                        padding-bottom: 200px;
                    }

                    @media screen and (max-width: 900px) {
                        padding-bottom: 240px;
                    }

                    @media screen and (max-width: 576px) {
                        margin: 0px 25px;
                        padding-bottom: 280px;
                    }

                    @media screen and (max-width: 450px) {
                        padding-top: 40px;
                        padding-bottom: 300px;
                    }

                    img {
                        width: 50px;
                        height: 50px;
                        display: inline-block;
                        object-fit: contain;
                        margin-bottom: 30px;

                        @media screen and (max-width: 1400px) {
                            width: 70px;
                            height: 70px;
                        }

                        @media screen and (max-width: 450px) {
                            margin-bottom: 25px;
                        }
                    }

                    div {
                        @include plainText20;
                        color: white;
                        line-height: 162%;

                        @media (max-width: 576px) {
                            font-size: 20px;
                            font-weight: bold;
                        }

                        @media screen and (max-width: 450px) {
                            font-size: 19px;
                        }

                        @media screen and (max-width: 400px) {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

    // Gallery
    #gallery_wrapper {
        .gallery {
            padding-bottom: 100px;

            @media screen and (max-width: 1400px) {
                padding-bottom: 90px;
            }

            @media screen and (max-width: 1280px) {
                padding-bottom: 80px;
            }

            @media screen and (max-width: 1100px) {
                padding-bottom: 70px;
            }

            @media screen and (max-width: 992px) {
                padding-bottom: 100px;
            }

            @media screen and (max-width: 768px) {
                padding-bottom: 130px;
            }

            @media screen and (max-width: 450px) {
                padding-bottom: 140px;
            }

            .gallery_title {
                @include mainContainer;
                padding-bottom: 50px;
                padding-right: 37%;

                @media screen and (max-width: 1500px) {
                    padding-right: 41%;
                }

                @media screen and (max-width: 1400px) {
                    padding-bottom: 35px;
                }

                @media screen and (max-width: 1280px) {
                    padding-right: 45%;
                }

                @media screen and (max-width: 768px) {
                    padding-right: 30%;
                }

                @media screen and (max-width: 620px) {
                    padding-right: 20%;
                }

                @media screen and (max-width: 576px) {
                    margin: 0px 25px;
                    padding-right: 10%;
                }

                @media screen and (max-width: 450px) {
                    padding-right: 0;
                }

                h2 {
                    @include aboutH2Title;
                    margin-bottom: 35px;

                    @media screen and (max-width: 1400px) {
                        margin-bottom: 25px;
                    }

                    @media screen and (max-width: 1280px) {
                        margin-bottom: 20px;

                    }

                    @media screen and (max-width: 768px) {
                        margin-bottom: 20px;
                    }
                }

                p {
                    @include plainText20;
                    color: white;
                    line-height: 140%;
                }
            }

            .gallery_images {
                &::-webkit-scrollbar {
                    height: 24px;
                }

                &::-webkit-scrollbar-track {
                    background: linear-gradient(180deg, white, white);
                    border-radius: 20px;
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 20px;
                    background: linear-gradient(180deg, $cOrange, $cOrangeHover);
                }

                @media screen and (max-width: 576px) {
                    overflow-x: scroll;
                    padding-bottom: 25px;
                    margin-left: 16px;
                    margin-right: 16px;
                    padding-right: 40px;
                }

                .gallery_images_block {
                    @include imageWrapper;
                    flex-wrap: wrap;
                    row-gap: 40px;

                    @media screen and (max-width: 1400px) {
                        row-gap: 30px;
                    }

                    @media screen and (max-width: 992px) {
                        row-gap: 20px;
                    }

                    @media screen and (max-width: 576px) {
                        column-gap: 20px;
                        margin: 0px;
                        flex-wrap: nowrap;
                    }

                    .projects_item {
                        width: 23.7%;
                        height: 583px;
                        filter: drop-shadow(4px 4px 7px rgba(0, 0, 0, 0.25));

                        @media screen and (max-width: 1600px) {
                            height: 550px;
                        }

                        @media screen and (max-width: 1500px) {
                            height: 510px;
                            width: 23.2%;
                        }

                        @media screen and (max-width: 1400px) {
                            height: 440px;
                            width: 23.5%;
                        }

                        @media screen and (max-width: 1300px) {
                            height: 410px;
                        }

                        @media screen and (max-width: 1200px) {
                            height: 380px;
                        }

                        @media screen and (max-width: 1100px) {
                            height: 340px;
                            width: 23.2%;
                        }

                        @media screen and (max-width: 992px) {
                            width: 31%;
                            min-height: fit-content;
                            max-height: fit-content;
                        }

                        @media screen and (max-width: 768px) {
                            width: 48%;
                            min-width: 48%;
                            height: 400px;
                        }

                        @media screen and (max-width: 650px) {
                            height: 380px;
                        }

                        @media screen and (max-width: 576px) {
                            width: 75vw;
                            min-width: 75vw;
                            height: 470px;
                        }

                        @media screen and (max-width: 450px) {
                            height: 440px;
                        }

                        @media screen and (max-width: 400px) {
                            height: 420px;
                        }
                    }

                    .projects_item_name {
                        background-color: $cOrange;
                        font-size: 21px;

                        @media screen and (max-width: 1500px) {
                            font-size: 19px;
                        }

                        @media screen and (max-width: 1400px) {
                            font-size: 18px;
                        }

                        @media screen and (max-width: 1280px) {
                            font-size: 17px;
                        }

                        @media screen and (max-width: 1200px) {
                            font-size: 16px;
                        }

                        @media screen and (max-width: 1100px) {
                            font-size: 15px;
                        }

                        @media screen and (max-width: 576px) {
                            font-size: 20px;
                        }

                        @media screen and (max-width: 450px) {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}


#footer {
    z-index: 1;
}