@import "./variables";
@import "./mixin";

.account_col_left_form_row {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: row !important;
}

.account_col_left_form_col {
    width: 350px;
}