@import "./variables";
@import "./mixin";

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 60vh;

    @media screen and (max-width: 576px) {
        margin: 0px 20px;
    }

    h1 {
        margin-bottom: 15px;
        width: fit-content;

        @media screen and (max-width: 576px) {
            font-size: 36px;
            margin-bottom: 7px;
        }

        @media screen and (max-width: 450px) {
            font-size: 34px;
        }

        @media screen and (max-width: 400px) {
            font-size: 30px;
        }

        @media screen and (max-width: 375px) {
            font-size: 28px;
        }

        @media screen and (max-width: 340px) {
            font-size: 26px;
        }
    }

    .main_subtext {
        @include boldText22;
        display: inline-block;
        padding-bottom: 20px;
        color: $cTextBlackMain;

        @media screen and (max-width: 576px) {
            font-size: 19px;
            text-align: center;
        }

        @media screen and (max-width: 450px) {
            font-size: 17px;
        }

        @media screen and (max-width: 375px) {
            font-size: 16px;
        }
    }

    .account_row {
        display: flex !important;
        flex-direction: column;
        align-items: center;

        @media screen and (max-width: 576px) {
            width: 100%;
        }

        .account_col_left {
            @media screen and (max-width: 576px) {
                width: 100%;
            }

            .account_col_left_form {
                width: fit-content;

                @media screen and (max-width: 576px) {
                    width: 100%;
                }

                .account_col_left_form_row {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;

                    .account_col_left_form_col {
                        width: 350px;

                        @media screen and (max-width: 576px) {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.form_col_item_input {
    @media screen and (max-width: 1100px) {
        padding: 8px !important;
        font-size: 14px !important;
    }

    @media screen and (max-width: 768px) {
        padding: 11px !important;
        font-size: 20px !important;
    }

    @media screen and (max-width: 375px) {
        font-size: 16px !important;
    }
}

.form_col_item_label {
    @media screen and (max-width: 1100px) {
        padding: 8px !important;
        font-size: 14px !important;
    }

    @media screen and (max-width: 768px) {
        padding: 11px !important;
        font-size: 20px !important;
    }

    @media screen and (max-width: 450px) {
        font-size: 18px !important;
    }

    @media screen and (max-width: 375px) {
        font-size: 16px !important;
    }
}

// Label active 
.form_col_item_label_active_phone,
.form_col_item_label_active {
    @media screen and (max-width: 1100px) {
        left: -9px !important;
        top: -28px !important;
        font-size: 12px !important;
    }

    @media screen and (max-width: 768px) {
        font-size: 20px !important;
        top: -42px !important;
        left: -11px !important;
    }

    @media screen and (max-width: 450px) {
        font-size: 16px !important;
        left: -11px !important;
        top: -35px !important;
    }

    @media screen and (max-width: 375px) {
        font-size: 14px !important;
    }
}