@import "./variables";
@import "./mixin";

body {
    background-color: $cBlue;
}

:root {
    --index-block-padding-top: 105px;
    --index-block-padding-bottom: 105px;
    --index-block-header-mb: 65px;
}

@media screen and (max-width: 1600px) {
    :root {
        --index-block-header-mb: 60px;
    }
}

@media screen and (max-width: 1400px) {
    :root {
        --index-block-padding-top: 95px;
        --index-block-padding-bottom: 95px;
    }
}

@media screen and (max-width: 1300px) {
    :root {
        --index-block-padding-top: 85px;
        --index-block-padding-bottom: 85px;
        --index-block-header-mb: 45px;
    }
}

@media screen and (max-width: 1100px) {
    :root {
        --index-block-padding-top: 75px;
        --index-block-padding-bottom: 75px;
        --index-block-header-mb: 35px;
    }
}

@media screen and (max-width: 992px) {
    :root {
        --index-block-padding-top: 80px;
        --index-block-padding-bottom: 80px;
    }
}

@media screen and (max-width: 576px) {
    :root {
        --index-block-header-mb: 30px;
    }

}

@media screen and (max-width: 450px) {
    :root {
        --index-block-padding-top: 70px;
        --index-block-padding-bottom: 70px;
        --index-block-header-mb: 25px;
    }
}

main {
    display: flex;
    flex-direction: column;

    // Intro
    .intro {
        position: relative;
        z-index: 4;
        filter: drop-shadow(1px 2px 8px rgba(0, 0, 0, 0.75));

        //Bottom arrow
        &::before {
            content: "";
            background-size: contain;
            width: 100vw;
            height: 230px;
            transform: scaleX(0.3);
            position: absolute;
            right: 0;
            left: 0;
            margin: auto;
            clip-path: polygon(50% 0%, 100% 0, 100% 72%, 50% 100%, 0% 72%, 0 0);
            background: $cOrange;
            bottom: -16px;
        }

        @media screen and (min-height: 800px) {
            &::before {
                clip-path: polygon(50% 0%, 100% 0, 100% 72%, 50% 100%, 0% 72%, 0 0);
            }
        }

        @media screen and (max-height: 799px) {
            &::before {
                clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
            }
        }

        @media screen and (max-height: 700px) {
            &::before {
                clip-path: polygon(50% 0%, 100% 0, 100% 78%, 50% 100%, 0% 78%, 0 0);
            }
        }

        @media screen and (max-height: 650px) {
            &::before {
                clip-path: polygon(50% 0%, 100% 0, 100% 81%, 50% 100%, 0% 81%, 0 0);
            }
        }

        @media screen and (max-width: 1300px) {
            &::before {
                bottom: -13px;
            }
        }

        @media screen and (max-width: 992px) {
            left: 0;
        }

        @media screen and (max-width: 768px) {
            &::before {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
                bottom: 13px;
                transform: scaleX(0.5);
            }
        }

        @media screen and (max-width: 400px) {
            &::before {
                bottom: 9px;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
                transform: scaleX(0.6);
            }
        }

        .intro_row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            width: 100vw;
            clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
            height: 86vh;

            // Height
            @media screen and (max-height: 700px) {
                height: 85vh;
            }

            @media screen and (max-height: 650px) {
                height: 83vh;
            }

            @media screen and (max-height: 550px) {
                height: 81vh;
            }

            // Widht
            @media screen and (max-width: 768px) {
                flex-direction: column;
                justify-content: flex-start;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
                position: relative;
                height: 88vh;
            }

            .intro_col_products,
            .intro_col_services {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;
                height: 100%;
                position: relative;
                background-color: rgba($color: $cBlue, $alpha: 0.6);
                background-blend-mode: multiply;
                background-size: cover;
                background-repeat: no-repeat;
                transition: all 1s ease-in-out;

                @media screen and (max-width: 768px) {
                    width: 100%;
                    height: 53vh;
                }

                .intro_col_content {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    margin-top: -13vh;
                    transition: all 1s ease-in-out;

                    @media screen and (max-width: 1400px) {
                        margin-top: -10vh;
                    }

                    @media screen and (max-width: 768px) {
                        margin-top: 0;
                    }

                    h1 {
                        @include headerText80;
                        color: white;
                        transition: all 1s ease-in-out;

                        @media screen and (max-width: 1270px) {
                            font-size: 60px;
                        }

                        @media screen and (max-width: 992px) {
                            font-size: 55px;
                        }

                        @media screen and (max-width: 768px) {
                            font-size: 65px;
                        }

                        @media screen and (max-width: 576px) {
                            font-size: 60px;
                        }

                        @media screen and (max-width:400px) {
                            font-size: 55px;
                        }

                        @media screen and (max-width:370px) {
                            font-size: 50px;
                        }
                    }

                    a {
                        @include mainButton;
                        margin-top: 30px;
                        text-transform: uppercase;
                        color: $cBlue;
                        font-family: $fHeaderRegular;
                        font-weight: bold;
                        font-size: 20px;
                        padding: 15px 35px;

                        @media screen and (max-width: 1700px) {
                            font-size: 19px;
                        }

                        @media screen and (max-width: 1600px) {
                            font-size: 18px;
                        }

                        @media screen and (max-width: 1500px) {
                            font-size: 17px;
                        }

                        @media screen and (max-width: 1400px) {
                            font-size: 15px;
                            margin-top: 20px;
                        }

                        @media screen and (max-width: 1300px) {
                            padding: 14px 25px;
                            font-size: 14px;
                            margin-top: 10px;
                        }

                        @media screen and (max-width: 850px) {
                            padding: 12px 21px;
                            font-size: 13px;
                        }

                        @media screen and (max-width: 768px) {
                            padding: 15px 25px;
                            font-size: 15px;
                        }

                        @media screen and (max-width: 576px) {
                            padding: 13px 22px;
                            font-size: 14px;
                        }

                        @media screen and (max-width: 400px) {
                            font-size: 13px;
                        }
                    }
                }
            }

            .intro_col_products {
                padding-left: 3vw;
                background-position: top left;

                @media screen and (max-width: 1100px) {
                    background-position: top left 40%;
                }

                @media screen and (max-width: 768px) {
                    background-position: top 100% center;
                    padding-left: 0vw;
                }

                @media screen and (max-width: 700px) {
                    background-position: top 130% center;
                }

                .intro_col_content {
                    @media screen and (max-width: 768px) {
                        margin-top: -130px;
                    }
                }
            }

            .intro_col_services {
                background-position: top right;
                padding-right: 3vw;

                @media screen and (max-width: 1100px) {
                    background-position: top right 40%;
                }

                @media screen and (max-width: 768px) {
                    padding-right: 0;
                    margin-top: -150px;
                    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
                }

                .intro_col_content {
                    @media screen and (max-width: 768px) {
                        margin-top: -50px;
                    }
                }
            }

            // Intro animation classes
            .intro_col_active {
                width: 56%;
                transform: scale(1.05);

                @media screen and (max-width: 992px) {
                    width: 50%;
                    transform: scale(1);
                }

                .intro_col_content {
                    transform: scale(1.05);

                    @media screen and (max-width: 992px) {
                        transform: scale(1);
                    }
                }
            }

            .intro_col_disactive {
                width: 46%;

                @media screen and (max-width: 992px) {
                    width: 50%;
                    transform: scale(1);
                }

                .intro_col_content {
                    transform: scale(0.8);

                    @media screen and (max-width: 992px) {
                        transform: scale(1);
                    }
                }
            }
        }
    }

    // About us
    .aboutUs {
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        z-index: 1;
        background-color: white;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left center;
        height: fit-content;
        min-height: 930px;
        max-height: 1000px;
        margin-top: -215px;

        @media screen and (max-width: 1400px) {
            height: 100vh;
            max-height: 800px;
            min-height: 750px;
        }

        @media screen and (max-width: 1200px) {
            margin-top: -200px;
            max-height: 750px;
            min-height: 650px;
            background-position: left -15% center;
        }

        @media screen and (max-width: 992px) {
            max-height: fit-content;
            min-height: fit-content;
            height: fit-content;
            background-position: left -50% center;
        }

        @media screen and (max-width: 850px) {
            background-size: 110%;
            background-position: right 40px center;
        }

        @media screen and (max-width: 768px) {
            margin-top: -120px;
            background-image: none !important;
        }

        // Bg
        &::before {
            background: linear-gradient(270deg, #00001D 35.83%, rgba(0, 31, 72, 0.35) 81.46%);
            position: absolute;
            top: 0px;
            left: 0px;
            right: -16px;
            bottom: 0px;
            z-index: -1;
            content: '';
            width: 100vw;
            height: 100%;
        }

        @media screen and (max-width: 768px) {
            &::before {
                background: linear-gradient(319deg, #00001D 35.83%, rgb(0, 31, 72) 75%);
            }
        }

        // Bottom line
        .aboutUs_line_bottom {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0px;
            width: 100vw;
            height: 15px;
            background-color: $cOrange;
            z-index: 1;
            transform: scaleX(0.35);

            @media screen and (max-width: 1400px) {
                height: 13px;
            }

            @media screen and (max-width: 768px) {
                height: 15px;
                transform: scaleX(0.5);
            }

            @media screen and (max-width: 576px) {
                transform: scaleX(0.6);
            }
        }

        .aboutUs_info {
            width: 100%;
            height: fit-content;
            padding-top: 160px;
            position: relative;

            @media screen and (max-width: 1110px) {
                padding-top: 255px;
                padding-bottom: 100px;
            }

            @media screen and (max-width: 768px) {
                padding-top: 150px;
            }

            .aboutUs_info_block {
                @include mainContainer;
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                row-gap: 66px;

                @media screen and (max-width: 1400px) {
                    row-gap: 40px;
                }

                @media screen and (max-width: 1200px) {
                    row-gap: 25px;
                }

                @media screen and (max-width: 768px) {
                    align-items: center;
                    row-gap: 40px;
                }

                @media screen and (max-width: 450px) {
                    row-gap: 60px;
                }

                .aboutUs_info_block_item {
                    width: 44.5%;
                    display: flex;
                    flex-direction: column;

                    @media screen and (max-width: 1400px) {
                        width: 48%;
                    }

                    @media screen and (max-width: 768px) {
                        width: 75%;
                    }

                    @media screen and (max-width: 576px) {
                        width: 80%;
                    }

                    @media screen and (max-width: 450px) {
                        &:last-of-type {
                            text-align: center;
                            align-items: center;
                        }
                    }

                    @media screen and (max-width: 400px) {
                        width: 90%;
                    }

                    // Headers
                    h2 {
                        @include headerTextDoubleWeight;
                        margin-bottom: 20px;
                        justify-content: flex-start;

                        @media screen and (max-width: 1300px) {
                            margin-bottom: 10px;
                        }

                        span {
                            color: white;

                            &:last-of-type {
                                color: $cOrange;
                            }

                            @media screen and (max-width: 1270px) {
                                font-size: 50px;
                            }

                            @media screen and (max-width: 992px) {
                                font-size: 45px;
                            }

                            @media screen and (max-width: 768px) {
                                font-size: 55px;
                            }
                        }
                    }

                    p {
                        @include headerText30;
                        font-family: $fHeaderRegular;
                        color: white;
                        line-height: 140%;

                        @media screen and (max-width: 1450px) {
                            font-size: 22px;
                        }

                        @media screen and (max-width: 1400px) {
                            padding-right: 5vw;
                        }

                        @media screen and (max-width: 1300px) {
                            padding-right: 7vw;
                        }

                        @media screen and (max-width: 1200px) {
                            font-size: 20px;
                        }

                        @media screen and (max-width: 992px) {
                            font-size: 18px;
                        }

                        @media screen and (max-width: 768px) {
                            font-size: 22px;
                            padding-right: 0;
                        }
                    }

                    // Our partners
                    h3 {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        column-gap: 10px;

                        span {
                            @include headerText30;
                            font-family: $fHeaderRegular;
                            color: white;
                            text-transform: uppercase;
                            font-size: 41px;

                            &:first-of-type {
                                font-weight: 100;
                            }

                            &:last-of-type {
                                font-weight: 700;
                                color: $cOrange;
                            }

                            @media screen and (max-width: 1450px) {
                                font-size: 35px;
                            }

                            @media screen and (max-width: 992px) {
                                font-size: 32px;
                            }

                            @media screen and (max-width: 768px) {
                                font-size: 35px;
                            }

                            @media screen and (max-width: 576px) {
                                font-size: 40px;
                            }

                            @media screen and (max-width: 375px) {
                                font-size: 35px;
                            }
                        }
                    }

                    .aboutUs_info_block_item_row {
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        column-gap: 80px;
                        margin-top: 35px;

                        @media screen and (max-width: 1400px) {
                            margin-top: 25px;
                            column-gap: 2vw;
                        }

                        @media screen and (max-width: 1300px) {
                            margin-top: 15px;
                            column-gap: 4vw;
                        }

                        @media screen and (max-width: 992px) {
                            column-gap: 3vw;
                        }

                        @media screen and (max-width: 450px) {
                            flex-direction: column;
                            row-gap: 20px;
                        }

                        .aboutUs_info_block_item_row_img {
                            width: 227px;

                            @media screen and (max-width: 1400px) {
                                width: 200px;
                            }

                            @media screen and (max-width: 1300px) {
                                width: 170px;
                            }

                            @media screen and (max-width: 992px) {
                                width: 150px;
                            }

                            @media screen and (max-width: 768px) {
                                width: 30vw;
                            }

                            @media screen and (max-width: 576px) {
                                width: 100%;
                            }

                            @media screen and (max-width: 450px) {
                                width: 90%;
                            }

                            @media screen and (max-width: 400px) {
                                width: 83%;
                            }

                            img {
                                width: inherit;
                                object-fit: contain;
                            }
                        }
                    }
                }
            }
        }
    }

    // Popular products
    .popularProduct {
        background-color: white;

        .popularProduct_row {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-top: var(--index-block-padding-top);
            padding-bottom: calc(var(--index-block-padding-bottom) - 50px);
            margin: 0px auto;
            max-width: 1400px;

            @media screen and (max-width: 1300px) {
                max-width: 100%;
            }


            @media screen and (max-width: 1100px) {
                padding-bottom: var(--index-block-padding-bottom);
            }

            // Popular products header
            .popularProduct_header {
                @include headerTextDoubleWeight;
                margin-bottom: var(--index-block-header-mb);
                padding: 0px 30px;

                span {
                    text-shadow: 2px 4px 11px rgba(23, 23, 23, 0.2);
                }
            }

            .popularProduct_slider {
                padding-left: 80px;
                padding-right: 80px;

                @media screen and (max-width: 992px) {
                    padding-left: 60px;
                    padding-right: 60px;
                }

                @media screen and (max-width: 576px) {
                    padding-left: 0px;
                    padding-right: 0px;
                }

                .slick-list,
                .slick-track {
                    display: flex !important;
                    flex-direction: row !important;
                    flex-wrap: nowrap !important;
                }
            }


            // Hovered slider with links
            .popularProduct_slider_links {
                margin-top: -2px;
                padding-left: 80px;
                padding-right: 80px;

                @media screen and (max-width: 992px) {
                    display: none;
                }

                .popularProduct_slider_links_link {
                    @include mainButton;
                    width: 100%;
                    background-color: $cOrange;
                    color: $cTextBlackMain;
                    pointer-events: none;
                    opacity: 0;
                    visibility: hidden;
                    height: fit-content;

                    @media screen and (max-width: 1100px) {
                        font-size: 15px;
                        padding: 13px 35px;
                    }

                    @media screen and (max-width: 992px) {
                        pointer-events: visible;
                        opacity: 1;
                        visibility: visible;
                        border-right: 1px solid white;
                    }

                    @media screen and (max-width: 450px) {
                        font-size: 13px;
                        padding: 13px 10px;
                    }

                    @media screen and (max-width: 400px) {
                        font-size: 12px;
                    }

                    @media screen and (max-width: 375px) {
                        font-size: 11px;
                    }
                }

                .popularProduct_slider_links_link_hovered {
                    pointer-events: visible;
                    opacity: 1;
                    visibility: visible;
                }
            }

            // Arrows
            $arrowWidth: 50px;
            $arrowHeight: 60px;

            .slick_prev_product,
            .slick_next_product {
                position: absolute;
                top: 0%;
                bottom: 0%;
                height: 100%;
                display: block;
                width: 80px;
                cursor: pointer;
                background: transparent;
                border: none;
                outline: none;
                z-index: 100;
                transition: all 0.3s ease-in-out;

                &::after {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    bottom: 0px;
                    right: 0px;
                    content: '';
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    z-index: -1;
                    filter: blur(10px);
                    opacity: 0;
                    transition: all 0.3s ease-in-out;
                }

                // Icon
                img {
                    width: $arrowWidth;
                    height: $arrowHeight;
                    transition: all 0.3s ease-in-out;
                    position: absolute;
                    top: 50%;
                    background-color: transparent;
                    opacity: 1;

                    @media screen and (max-width: 576px) {
                        top: 40%;
                    }
                }

                &:hover {
                    outline: none;
                    background-color: $cBlueOpacity;

                    img {
                        opacity: 1;
                    }

                    &:after {
                        opacity: 1;
                    }
                }

                @media screen and (max-width: 992px) {
                    width: 60px;

                    &:hover {
                        background-color: transparent;

                        &:after {
                            opacity: 0;
                        }
                    }

                    &:active {
                        background-color: $cBlueOpacity;
                    }

                }

                @media screen and (max-width: 576px) {
                    top: 100%;
                    bottom: auto;
                    height: 80px;
                    width: 50%;
                }

            }

            // Prev arrow
            .slick_prev_product {
                clip-path: polygon(0% 10%, 100% 0, 100% 100%, 0% 90%);
                left: 0px;

                @media screen and (max-width: 576px) {
                    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% 90%);
                }

                img {
                    left: 15px;
                    transform: rotate(90deg) translateX(-50%);

                    @media screen and (max-width: 1300px) {
                        transform: rotate(90deg) translateX(-50%) scale(0.7);
                    }

                    @media screen and (max-width: 992px) {
                        left: 5px;
                    }

                    @media screen and (max-width: 576px) {
                        left: 50%;
                    }
                }
            }

            // Next arrow
            .slick_next_product {
                clip-path: polygon(0% 0%, 100% 10%, 100% 90%, 0% 100%);
                right: 0px;


                @media screen and (max-width: 576px) {
                    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
                }

                img {
                    right: 15px;
                    transform: rotate(-90deg) translateX(50%);

                    @media screen and (max-width: 1300px) {
                        transform: rotate(-90deg) translateX(50%) scale(0.7);
                    }

                    @media screen and (max-width: 992px) {
                        right: 5px;
                    }

                    @media screen and (max-width: 576px) {
                        right: 50%;
                    }
                }
            }
        }
    }

    // Popular services
    .popular_services {
        background-color: $cBlue;
        width: 100%;
        border-bottom: 2px solid $cOrange;

        .popular_services_block {
            @include mainContainer;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-top: var(--index-block-padding-top);
            padding-bottom: var(--index-block-padding-bottom);

            // Popular products header
            .popular_services_block_header {
                @include headerTextDoubleWeight;
                margin-bottom: var(--index-block-header-mb);

                span {
                    color: white;
                    text-shadow: 2px 4px 11px rgba(23, 23, 23, 0.2);

                    &:last-of-type {
                        color: $cOrange;
                    }
                }
            }

            .services_row_results {
                position: relative;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, 32.5%);
                grid-auto-rows: minmax(min-content, max-content);
                grid-gap: 12px;
                justify-content: space-between;

                @media screen and (max-width: 768px) {
                    grid-template-columns: repeat(2, 49%);
                    grid-template-columns: 90%;
                    justify-content: center;
                }

                @media screen and (max-width: 576px) {
                    grid-template-columns: 92%;
                }

                @media screen and (max-width: 400px) {
                    grid-template-columns: 100%;
                }

                .services_row_results_item {
                    @media screen and (max-width: 450px) {
                        min-height: 25vh;
                    }

                    .services_row_results_item_name {
                        @media screen and (max-width: 900px) {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    // News
    .news {
        background-color: $cBlue;
        width: 100%;
        border-bottom: 2px solid $cOrange;

        .news_block {
            @include mainContainer;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-top: var(--index-block-padding-top);
            padding-bottom: var(--index-block-padding-bottom);

            // Popular products header
            .news_block_header {
                @include headerTextDoubleWeight;
                margin-bottom: var(--index-block-header-mb);

                span {
                    color: white;
                    text-shadow: 2px 4px 11px rgba(23, 23, 23, 0.2);

                    &:last-of-type {
                        color: $cOrange;
                    }
                }
            }

            .news_list {
                width: 100%;
                display: flex;
                flex-direction: column;
                row-gap: 58px;

                @media screen and (max-width: 1400px) {
                    row-gap: 48px;
                }

                @media screen and (max-width: 1280px) {
                    row-gap: 38px;
                }

                @media screen and (max-width: 450px) {
                    row-gap: 25px;
                }
            }

            .news_block_link {
                @include mainButtonBorder;
                margin-top: 60px;

                @media screen and (max-width: 1300px) {
                    margin-top: 45px;
                }

                @media screen and (max-width: 1100px) {
                    margin-top: 35px;
                }
            }
        }
    }

    // Projects
    .projects {
        background-color: $cBlue;
        width: 100%;
        border-bottom: 2px solid $cOrange;

        .projects_block {
            @include mainContainer;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-top: var(--index-block-padding-top);
            padding-bottom: var(--index-block-padding-bottom);

            // Popular products header
            .projects_block_header {
                @include headerTextDoubleWeight;
                margin-bottom: var(--index-block-header-mb);

                span {
                    color: white;
                    text-shadow: 2px 4px 11px rgba(23, 23, 23, 0.2);

                    &:last-of-type {
                        color: $cOrange;
                    }
                }
            }

            .projects_block_row_wrapper {
                width: 100%;

                @media screen and (max-width: 576px) {
                    overflow-x: scroll;
                    width: 100vw;
                    padding-left: 16px;
                    padding-right: 30px;
                }
            }

            .projects_block_row_results {
                position: relative;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, 29.5%);
                grid-auto-rows: minmax(min-content, max-content);
                grid-gap: 12px;
                justify-content: space-between;

                @media screen and (max-width: 1400px) {
                    justify-content: space-around;
                    padding: 0px 6vw;
                }

                @media screen and (max-width: 1300px) {
                    padding: 0px;
                }

                @media screen and (max-width: 992px) {
                    grid-template-columns: repeat(3, 31.5%);
                }

                @media screen and (max-width: 768px) {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    flex-wrap: wrap;
                }

                @media screen and (max-width: 576px) {
                    flex-wrap: nowrap;
                    width: fit-content;
                }
            }

            .projects_block_link {
                @include mainButtonBorder;
                margin-top: 60px;

                @media screen and (max-width: 1300px) {
                    margin-top: 45px;
                }

                @media screen and (max-width: 1100px) {
                    margin-top: 35px;
                }
            }
        }
    }

    // Achieve
    .achieve {
        background-color: $cBlue;
        width: 100%;

        .achieve_block {
            @include mainContainer;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-top: var(--index-block-padding-top);
            padding-bottom: var(--index-block-padding-bottom);

            @media screen and (max-width: 900px) {
                padding-bottom: 110px;
            }

            @media screen and (max-width: 576px) {
                padding-bottom: 130px;
            }

            @media screen and (max-width: 450px) {
                padding-bottom: 160px;
            }


            // Header
            .achieve_block_header {
                @include headerTextDoubleWeight;
                margin-bottom: var(--index-block-header-mb);

                span {
                    color: white;
                    text-shadow: 2px 4px 11px rgba(23, 23, 23, 0.2);

                    &:last-of-type {
                        color: $cOrange;
                    }
                }
            }

            // Row
            .achieve_block_row {
                position: relative;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, 29.5%);
                grid-auto-rows: minmax(min-content, max-content);
                grid-gap: 12px;
                justify-content: space-between;
                margin-top: 30px;

                @media screen and (max-width: 1400px) {
                    padding: 0px 3vw;
                }

                @media screen and (max-width: 1300px) {
                    margin-top: 15px;
                    padding: 0px 0vw;
                }

                @media screen and (max-width: 992px) {
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    column-gap: 4vw;
                    row-gap: 20px;
                    flex-wrap: wrap;
                }

                @media screen and (max-width: 576px) {
                    row-gap: 40px;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                }

                .achieve_block_row_item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    @media screen and (max-width: 992px) {
                        width: 42%;
                    }

                    @media screen and (max-width: 576px) {
                        width: 70%;
                    }

                    @media screen and (max-width: 450px) {
                        width: 100%;
                    }

                    .achieve_block_row_item_title {
                        @include headerText30;
                        padding-top: 9px;
                        padding-bottom: 35px;
                        text-align: center;
                        color: $cOrange;

                        @media screen and (max-width: 1300px) {
                            padding-top: 14px;
                            padding-bottom: 20px;
                        }

                        @media screen and (max-width: 1200px) {
                            padding-bottom: 10px;
                        }

                        @media screen and (max-width: 576px) {
                            font-size: 26px;
                        }

                        @media screen and (max-width: 375px) {
                            font-size: 24px;
                        }
                    }

                    .achieve_block_row_item_text {
                        @include plainText20;
                        text-align: center;
                        padding: 0px 10px;
                        color: white;

                        @media screen and (max-width: 1200px) {
                            font-size: 14px;
                        }

                        @media screen and (max-width: 768px) {
                            font-size: 15px;
                        }

                        @media screen and (max-width: 576px) {
                            font-size: 16px;
                        }
                    }

                    img {
                        width: 100px;
                        height: 100px;
                        display: inline-block;
                        object-fit: contain;

                        @media screen and (max-width: 1200px) {
                            width: 90px;
                            height: 90px;
                        }

                        @media screen and (max-width: 576px) {
                            width: 120px;
                            height: 120px;
                        }
                    }
                }
            }
        }
    }
}