@import "./variables";
@import "./mixin";

.my_cart_delivery_block_item_hidden {
    display: none;
    position: relative;
    margin-top: 28px;

    @media screen and (max-width: 1300px) {
        margin-top: 24px;
    }

    @media screen and (max-width: 450px) {
        margin-top: 18px;
    }

    // Novaposhta header
    .hidden_novaposhta_header {
        position: relative;
        height: inherit;
        display: flex;
        flex-direction: row;

        // Header 
        .hidden_novaposhta_header_text {
            @include mainInput;
            background-color: white;
            color: $cTextBlack;
            font-size: 16px;
            padding-right: 50px;

            @media screen and (max-width: 1400px) {
                font-size: 15px;
            }

            @media screen and (max-width: 1100px) {
                font-size: 14px;
                padding: 8px;
                padding-right: 40px;
            }

            @media screen and (max-width: 900px) {
                padding: 10px 13px;
                padding-right: 40px;
                font-size: 16px;
            }

            @media screen and (max-width: 768px) {
                padding: 11px;
                padding-right: 40px;
                font-size: 18px;
            }

            @media screen and (max-width: 576px) {
                font-size: 15px;
            }

            @media screen and (max-width: 450px) {
                font-size: 13px;
                padding: 9px;
                padding-right: 30px;
            }

            @media screen and (max-width: 375px) {
                font-size: 12px;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .hidden_novaposhta_header_text_error {
            border: 1px solid $cRed !important;
            outline: 2px solid $cRed !important;
            color: $cRed;
        }

        // Nova poshta arrow
        .hidden_novaposhta_header_arrow {
            height: inherit;
            position: absolute;
            top: 0px;
            bottom: 0px;
            right: 0px;
            padding-right: 13px !important;
            padding-left: 13px !important;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;

            &::before {
                content: '';
                mask-size: contain;
                mask-image: url(../icon/arrow_down.svg);
                mask-repeat: no-repeat;
                mask-position: center;
                background-color: $cTextBlack;
                width: 21px;
                min-width: 21px;
                height: 12px;
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                cursor: pointer;
                background-color: $cBlueOpacity;

                &::before {
                    background-color: $cOrange;
                }
            }

            @media screen and (max-width: 1300px) {
                &::before {
                    width: 18px;
                    height: 9px;
                }
            }

            @media screen and (max-width: 450px) {
                padding-right: 9px;
                padding-left: 9px;
            }
        }

        // Active arrow
        .hidden_novaposhta_header_arrow_active {
            &::before {
                transform: scaleY(-1);
            }
        }
    }

    #hidden_novaposhta {
        display: none;
        position: absolute;
        top: calc(100% + 5px);
        left: 0px;
        width: 100%;
        background-color: white;
        border: 1px solid $cBorderGray;
        border-top: 1px solid transparent;
        z-index: 20;
        box-shadow: rgba(24, 24, 24, 0.5) 0px 20px 40px;

        // Novaposhta hidden block
        #hidden_novaposhta_block {
            @include customScrollBar;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            min-height: fit-content;
            max-height: 250px;

            @media screen and (max-width: 1100px) {
                max-height: 230px;
            }

            .hidden_novaposhta_block_item {
                border: none;
                background-color: white;
                padding: 10px 12px;
                width: 100%;
                position: relative;
                border-bottom: 1px solid rgb(216, 216, 216);
                transition: all 0.3s ease-in-out;

                &:hover {
                    cursor: pointer;
                    background-color: $cBlueOpacity !important;
                }

                @media screen and (max-width: 1280px) {
                    font-size: 15px;
                }

                @media screen and (max-width: 1100px) {
                    font-size: 14px;
                    padding: 8px 10px;
                }

                @media screen and (max-width: 900px) {
                    padding: 10px 13px;
                    font-size: 16px;
                }

                @media screen and (max-width: 576px) {
                    font-size: 15px;
                    padding: 8px 10px;
                }

                @media screen and (max-width: 450px) {
                    font-size: 14px;
                }
            }
        }
    }

    // Hidden address inputs
    .my_cart_delivery_block_item_hidden_row {
        width: 100%;
        display: grid;
        grid-template-columns: 45% 25% 25%;
        align-items: center;
        justify-content: space-between;
        padding-top: 8px;

        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            row-gap: 10px;
        }

        @media screen and (max-width: 576px) {
            padding-top: 0;
        }

        .form_col_item {
            @media screen and (max-width: 768px) {
                &:first-of-type {
                    width: 100%;
                }

                width: 49%;
            }
        }
    }
}


// Popup block
#np_city_popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999000000;

    @media screen and (max-width: 1400px) {
        align-items: flex-start;
        padding-top: 90px;
    }

    @media screen and (max-width: 1280px) {
        padding-top: 70px;
    }

    @media screen and (max-width: 1100px) {
        padding-top: 50px;
    }

    @media screen and (max-width: 992px) {
        align-items: center;
        padding-top: 0;
    }

    .np_city_popup_bg {
        width: inherit;
        height: inherit;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
    }

    .np_city_popup_wrapper {
        width: 100%;
        height: 100%;
        padding: 40px 0px;
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        position: relative;

        .np_city_popup_content {
            background-color: #fff;
            box-shadow: 0 0 10px #000;
            width: 540px;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            margin-top: -70px;
            z-index: 1;

            @media screen and (max-width: 1400px) {
                margin-top: 0px;
            }

            @media screen and (max-width: 1100px) {
                width: 500px;
            }

            @media screen and (max-width: 992px) {
                margin-top: -75px;
            }

            @media screen and (max-width: 576px) {
                width: 85%;
            }

            @media screen and (max-width: 450px) {
                width: 92%;
            }

            .np_city_popup_content_header {
                width: 100%;
                height: 70px;
                padding-left: 32px;
                border-bottom: 1px solid $cBorderGray;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;

                @media screen and (max-width: 1400px) {
                    height: 60px;
                }

                @media screen and (max-width: 1280px) {
                    height: 50px;
                    padding-left: 25px;
                }

                @media screen and (max-width: 900px) {
                    height: 70px;
                }

                @media screen and (max-width: 576px) {
                    height: 60px;
                }

                @media screen and (max-width: 500px) {
                    padding-left: 20px;
                }

                @media screen and (max-width: 450px) {
                    padding-left: 16px;
                }

                @media screen and (max-width: 375px) {
                    height: 50px;
                }

                span {
                    @include headerWithIcon;
                    color: $cTextBlack;
                    margin-bottom: 0 !important;

                    &::before {
                        mask-image: url(../icon/location_icon.svg);
                        background-color: $cTextBlack;
                        width: 21px;
                        height: 21px;
                        top: -1px;
                    }

                    @media screen and (max-width: 450px) {
                        font-size: 18px;

                        &::before {
                            width: 18px;
                            height: 18px;
                        }
                    }
                }

                .np_city_popup_content_header_close {
                    padding: 0px 32px;
                    height: inherit;
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    align-items: center;
                    border: none;
                    transition: all 0.3s ease-in-out;
                    background-color: transparent;

                    &::before {
                        content: '';
                        transition: all 0.3s ease-in-out;
                        width: 20px;
                        height: 20px;
                        mask-size: contain;
                        mask-repeat: no-repeat;
                        mask-position: center;
                        mask-image: url(../icon/cross_icon.svg);
                        background-color: #525252;
                    }

                    &:hover {
                        background-color: $cBlueOpacity;

                        &::before {
                            background-color: $cOrange;
                        }
                    }

                    @media screen and (max-width: 1280px) {
                        padding: 0px 25px;
                    }

                    @media screen and (max-width: 500px) {
                        padding: 0px 20px;
                    }

                    @media screen and (max-width: 450px) {
                        padding: 0px 16px;
                    }

                    @media screen and (max-width: 400px) {
                        &::before {
                            width: 15px;
                            height: 15px;
                        }
                    }
                }
            }

            .np_city_popup_content_city_wrapper {
                padding: 24px 35px;

                @media screen and (max-width: 1280px) {
                    padding: 20px 25px;
                    padding-bottom: 30px;
                }

                @media screen and (max-width: 500px) {
                    padding: 20px 20px;
                    padding-bottom: 25px;
                }

                @media screen and (max-width: 450px) {
                    padding: 20px 16px;
                    padding-bottom: 25px;
                }

                @media screen and (max-width: 375px) {
                    padding: 16px;
                    padding-bottom: 22px;
                }

                .np_city_popup_content_popular {
                    display: grid;
                    grid-template-columns: repeat(4, 22%);
                    justify-content: space-between;
                    row-gap: 22px;

                    @media screen and (max-width: 450px) {
                        grid-template-columns: repeat(3, 31%);
                        row-gap: 10px;
                    }

                    .city_name {
                        @include boldText18;
                        font-weight: 700;
                        transition: all 0.3s ease-in-out;
                        color: $cBlue;
                        padding: 2px 13px;
                        border: 2px solid transparent;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: row;
                        user-select: none;

                        &:hover {
                            color: $cBlueLinks;
                            cursor: pointer;
                        }

                        @media screen and (max-width: 576px) {
                            font-size: 14px;
                        }

                        @media screen and (max-width: 400px) {
                            font-size: 13px;
                        }

                        @media screen and (max-width: 375px) {
                            font-size: 12px;
                        }
                    }

                    .city_name_active {
                        border: 2px solid $cOrange;
                    }
                }

                .np_city_popup_content_search {
                    position: relative;
                    margin-top: 30px;

                    @media screen and (max-width: 1400px) {
                        margin-top: 20px;
                    }

                    .np_city_popup_content_search_row {
                        position: relative;

                        #np_city_popup_load {
                            display: none;
                            background-color: white;
                            position: absolute;
                            top: 10px;
                            right: 5px;
                            width: 30px;
                            height: 30px;

                            @media screen and (max-width: 1400px) {
                                top: 7px;
                                right: 3px;
                            }

                            span {
                                display: inline-block;
                                width: 0;
                                height: 0;
                                border-left: 10px solid transparent;
                                border-right: 10px solid transparent;
                                border-bottom: 10px solid $cBlue;
                                border-top: 10px solid $cOrange;
                                animation: np_search_loader 1.2s ease-in-out infinite alternate;
                            }

                            @keyframes np_search_loader {
                                from {
                                    transform: rotate(0deg);
                                }

                                to {
                                    transform: rotate(720deg);
                                }
                            }

                            @-webkit-keyframes np_search_loader {
                                from {
                                    -webkit-transform: rotate(0deg);
                                }

                                to {
                                    -webkit-transform: rotate(720deg);
                                }
                            }
                        }
                    }

                    #hidden_novaposhta_city_block {
                        position: absolute;
                        top: calc(100% + 2px);
                        left: 0px;
                        right: 0px;
                        @include customScrollBar;
                        padding: 10px 0px;
                        overflow-y: auto;
                        height: fit-content;
                        max-height: 250px;
                        background-color: white;

                        @media screen and (max-width: 1600px) {
                            max-height: 220px;
                        }

                        @media screen and (max-width: 1400px) {
                            max-height: 200px;
                        }

                        @media screen and (max-width: 1200px) {
                            max-height: 170px;
                        }

                        @media screen and (max-width: 1100px) {
                            max-height: 140px;
                        }

                        .city_name {
                            @include plainText18;
                            padding: 3px 10px;
                            list-style-type: none;
                            transition: all 0.3s ease-in-out;

                            &:hover {
                                background-color: $cBlueOpacity;
                                cursor: pointer;
                            }

                            @media screen and (max-width: 450px) {
                                font-size: 14px;
                            }

                            @media screen and (max-width: 375px) {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Nova poshta search field
#novaposhta_search_city,
#novaposhta_search_department {
    @include mainInput;
    background-color: white;
    color: $cTextBlack;
    font-size: 16px;

    @media screen and (max-width: 1400px) {
        font-size: 15px;
    }

    @media screen and (max-width: 1100px) {
        padding: 8px;
        font-size: 14px;
    }

    @media screen and (max-width: 900px) {
        padding: 11px;
        font-size: 17px;
    }

    @media screen and (max-width: 576px) {
        padding: 10px;
        font-size: 16px;
    }

    @media screen and (max-width: 400px) {
        padding: 8px;
        font-size: 14px;
    }

    &::placeholder {
        color: $cTextBlackSecondary;
    }
}